/* index.css */
body {
    margin: 0 auto;
    position:relative;
}
header {position:relative;}
main {margin:0 auto;}
/* ---------------------------------  */
header .benefit_bnr {
    background-color:var(--color-primary);
    height:47px;
    display:flex; flex-flow: row nowrap;
    justify-content: center; align-items: center;
}
header .benefit_bnr p {
    color:var(--text-muted);
    font-size:0.875rem;
    
}
/* ---------------------------------  */
nav {
    height:67px;
    padding: 0 50px;
    max-width:var(--desk-max-width);
    margin: 0 auto;
    position:sticky; top:0;
    z-index: 999;
    margin-bottom: -67px;
    /* background-color: #000; */
    background-color: transparent;
}
nav .logo {width:50px; }
nav .logo img {width:100%;}
/* --------------------------------- gnb center */
nav .gnb_center {
    width:660px;/*  position:absolute; *//*  top:center; right:630px ; */
    }
nav .gnb_center > li {}
nav .gnb_center > li a {    
    color:var(--bg-main);
    font-size: 1rem;
    font-weight: 300;
}
/* men hover */
nav .gnb_center > li > .lnb {
    background-color: var(--bg-main);
    max-width:var(--desk-max-width); margin:0 auto;
    position:absolute; 
    top:68px; left: 0;
    display:flex; flex-flow: row nowrap;
    align-items: flex-start;
    opacity:0;height:0; overflow:hidden;
}
nav:hover .gnb_center > li > .lnb{
    opacity:1; height: max-content;
    padding: 60px 175px 40px;
}
nav:hover {
    background-color: var(--color-primary) !important;
}
nav .gnb_center > li > .lnb .lnb_li {
    width:171px;
}
nav .gnb_center > li > .lnb .lnb_li p {
    padding:0 10px;
    margin-bottom: 25px;
}
nav .gnb_center > li > .lnb .lnb_li p a {
    color:var(--color-primary);font-weight: 600;
}
nav .gnb_center > li > .lnb .lnb_li > ul {height: 100%;}
nav .gnb_center > li > .lnb .lnb_li > ul >li {}
nav .gnb_center > li > .lnb .lnb_li:nth-child(6),
nav .gnb_center > li > .lnb .lnb_li:nth-child(1)
{position:relative;}
nav .gnb_center > li > .lnb .lnb_li:nth-child(6):after {
    content: ''; display: block; width: 1px; height: 234px;
    position:absolute; background-color:#dfdfdf ;
    right:0; top:49px;
    z-index: 999;
}
nav .gnb_center > li > .lnb .lnb_li:nth-child(1):after {
    content: ''; display: block; width: 1px; height: 234px;
    position:absolute; background-color:#dfdfdf ;
    right:0; top:49px;
    z-index: 999;
}
nav .gnb_center > li > .lnb .lnb_li > ul >li > a {
    color:var(--color-primary);
    display:block;
    padding:0px 10px;
    margin-bottom:14px;
    font-size: 0.875rem;
}
nav .gnb_center > li > .lnb .lnb_left {
    width:236px;
    margin-right:90px;
}
nav .gnb_center > li > .lnb .lnb_right {
    width:295px;
    margin-left: 90px;
    position:relative;
}
nav .gnb_center > li > .lnb .lnb_right img {width:100%; margin-bottom: 14px; display:block;}
nav .gnb_center > li > .lnb .lnb_right .title {
    color:var(--color-primary);
    font-size: 0.875rem;
    margin-bottom:6px;
    padding: 0 6px;
    font-weight: 700;
    display: block;
}
nav .gnb_center > li > .lnb .lnb_right .content {
    color:var(--color-primary);
    font-size: 0.75rem;
    line-height: 1.4;
    padding: 0 6px;
    display: block;
}
/* --------------------------------- gnb right */
.gnb_right {width:112px; }
.gnb_right .search {width:24px;}
.gnb_right .search img {width:100%;}
.gnb_right .mypage {width:24px;}
.gnb_right .mypage img {width:100%;}
.gnb_right .cart {width:24px; }
.gnb_right .cart img {width:100%; }
/* ------------------------------------------------header end */
/* ------------------------------------------------main start */
main {}
main .main_bnr {position:relative; max-width:var(--desk-max-width);}
main .main_bnr .swiper-wrapper {}
main .main_bnr .main_swiper_btn_prev {width:30px;position:absolute; right:280px; bottom:50px;}
main .main_bnr .main_swiper_btn_prev img {width:100%}
main .main_bnr .main_swiper_btn_next {width:30px; position:absolute; right:240px; bottom:50px;} 
main .main_bnr .main_swiper_btn_next img {width:100%}
main .main_bnr .main_swiper_btn_scroll {max-width:1320px; height: 2px;}
main .main_bnr .swiper-wrapper .swiper-slide { 
    background-image:url(../images/main_bnr.jpg);
    max-width:var(--desk-max-width); height:913px;
    background-size: cover;
    padding: 300px 0 0 240px; 
}
main .main_bnr .swiper-wrapper .swiper-slide h1 {
    font-family: 'Radio Canada Big';
    font-size: 2.625rem;
    font-weight: bold;
    line-height: 1.6;
    color:var(--bg-main);
}
main .main_bnr .swiper-wrapper .swiper-slide p {
    line-height: 1.6;
    color:#e2e2e2;
}

/* ---------------------------------------------------2행 */
main .best_pick {
    /* padding:100px 240px 0; */ gap:20px;
    /* display: flex; flex-flow:column nowrap;
    align-items: center;*/
    position:relative;
    max-width:var(--desk-max-width); margin: 0 auto;
} 
main .best_pick .title {text-align: center; gap:4px; margin-top:100px;}
main .best_pick .title h2 {
    font-size: 2.125rem;
    line-height: 1.2;
    font-weight: 700;
}
main .best_pick .title p {
    font-size: 0.875rem;
    line-height: 1.2;
    color:#999; 
    margin-bottom: 20px;
}
main .best_pick .category_more_wrap {margin-bottom:14px; padding: 0 240px;}
main .best_pick .category_more_wrap .category {gap:8px; width:534px;}
main .best_pick .category_more_wrap .category li {}
main .best_pick .category_more_wrap .category li button {
    font-weight: 300; color:#888;
    padding:8px 10px;
}
main .best_pick .category_more_wrap .category .active {
    border-bottom: 2px solid var(--color-primary);
}
main .best_pick .category_more_wrap .category .active > button{
    color:var(--color-primary); 
    font-weight: 600;
}
main .best_pick .category_more_wrap .more_btn {width:96px;}
main .best_pick .category_more_wrap .more_btn p {font-size: 0.875rem; font-weight: 700;} 
main .best_pick .category_more_wrap .more_btn .imge {width:22px;}
main .best_pick .category_more_wrap .more_btn .imge img {width:100%;}
/* ===================================상품 */
main .best_pick .product_swiper {
    position:relative; overflow: hidden;  
    margin: 0 auto;
    max-width: var(--desk-content-max-width); width:100%;
}
/* ===================================이전다음 버튼 start */
/* 공통: Swiper 기본 중앙정렬 스타일 무력화 */
main .best_pick >  .best_swiper_btn_prev,
main .best_pick > .best_swiper_btn_next {
    position: absolute;
    top: 50%;          /* Swiper 기본 top: 50% 제거 */
    margin-top: 0;      /* Swiper 기본 margin-top 제거 */
    width: 30px;
    height: 40px;
}
/* 이전 버튼 위치 */
main .best_pick > .best_swiper_btn_prev {
    left: 160px;
    right: auto;
    bottom: 225.5px;    /* 원하는 Y축 위치 */
}
/* 다음 버튼 위치 */
main .best_pick > .best_swiper_btn_next {
    right: 160px;
    left: auto;
    bottom: 225.5px;    /* 이전 버튼과 높이를 맞추려면 동일하게 작성 */
}
/* 이미지 크기 */
main .best_pick > .best_swiper_btn_prev img,
main .best_pick > .best_swiper_btn_next img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
main .best_pick >.best_swiper_btn_prev::after,
main .best_pick .best_swiper_btn_next::after {
    display: none;
}
/* ===================================이전다음 버튼 end */
main .best_pick .product_swiper .swiper-wrapper {}
main .best_pick .product_swiper .swiper-wrapper .swiper-slide {}
main .best_pick .product_swiper .swiper-wrapper .swiper-slide .product_image {margin-bottom:20px; width:max-content;}
main .best_pick .product_swiper .swiper-wrapper .swiper-slide .product_image img {width:100%;}
main .best_pick .product_swiper .swiper-wrapper .swiper-slide h3 {
    padding: 0 5px; margin-bottom: 4px;
    font-weight:700 ;
    line-height: 1.5;
    letter-spacing: -1.1%;
    width:max-content;
}
main .best_pick .product_swiper .swiper-wrapper .swiper-slide .produt_price {
    padding: 0 5px;
    font-size:0.875rem;
    line-height: 1.5;
    letter-spacing: -1.1%;
    font-weight: 400;
    width:max-content;
}
/* ---------------------------------------------------3행 */
main .shoesCty {
    /* background-image: url(../images/shoes_category_background.jpg);
    background-size: cover; */
    max-width: var(--desk-max-width); padding:100px 240px 180px; margin:0 auto;
    height:857.97px;
    position:relative;
    display:flex; flex-flow: row nowrap; justify-content: center;
    align-items: center;
}
main .shoesCty .shoes {
    height:590px; position:relative;
    margin-right:5px;
}
main .shoesCty .shoes .shoseImg {
    height:590px; width:476.67px;
    transform: skew(12deg);
    overflow: hidden;
}
main .shoesCty .shoes .shoseImg img {width:130%;}
main .shoesCty .shoes .shoesSubTitle {
    position:absolute;
    font-size: 0.875rem;
    bottom:66px; left:80px;
    color:#d7d7d7;
}
main .shoesCty .shoes h3 {
    position:absolute;
    font-size: 2.5rem;
    font-weight: 700;
    bottom:20px; left:75px;
    color:var(--bg-main);
}

main .shoesCty .shoes .shoesBtm {
    position:absolute;
    bottom: -82px; right:-37.5px;
}
main .shoesCty .shoes .shoesBtm p {}
main .shoesCty .shoes1 {}
main .shoesCty .shoes2 {}
main .shoesCty .shoes2 .shoesSubTitle {color:var(--bg-main);}
main .shoesCty .shoes3 {}
main .shoesCty .shoes_line {
    position:absolute;
    width:100%; 
    display: flex;  right:0; gap:10px;
    flex-flow: column nowrap; z-index: -2;
    top: 50%; transform: translateY(-50%)
}
main .shoesCty .shoes_line span {
    width:100%;height:95px;
    display: block;
    background-color: #151515;
}
/* ---------------------------------------------------4행 판매상품 */
main .fallProduct {
    padding:100px 0; display: flex; flex-flow: row nowrap; 
    max-width: var(--desk-content-max-width);
    position:relative;
    margin: 0 auto;
    gap:50px;
}
main .fallProduct .product{
    display: flex; flex-flow: row wrap;
    width:calc(100%-50%) ; height:max-content;
}
main .fallProduct .product li {
    margin: 0 21px 20px 0;
    height: max-content;
}
main .fallProduct .product li:nth-child(2) {margin: 0 0px 20px 0;}
main .fallProduct .product li:nth-child(4) {margin: 0 0 20px 0;}
main .fallProduct .product li .image {max-width:320px; margin-bottom:10px;}
main .fallProduct .product li .image img {width:100%;}
main .fallProduct .product li h3 {padding-left: 5px; margin-bottom: 4px; line-height: 1.5; font-weight: 700;}
main .fallProduct .product li .price {padding-left: 5px; line-height: 1.5; font-size: 0.875rem;}
main .fallProduct > .fall_letter{
    width:calc(100%-50%) ; height: max-content;
    position:relative;
}
main .fallProduct .fall_letter .fallBack {width:calc(100%-50%) ; height: max-content;} 
main .fallProduct .fall_letter .fallBack img {width:100%; object-fit: cover;}
main .fallProduct > .fall_letter .fallSub {
    position:absolute;
    line-height: 1.6;
    right:443px;
    color:var(--bg-main);
    top:321px; right:203px;
} 
main .fallProduct > .fall_letter h3 {
    position:absolute; 
    font-family: 'Pragati Narrow';
    font-size: 5rem; font-weight: 800; 
    color:var(--bg-main);
    line-height: 1.6;
    right:101px; top:324px;
}
main .fallProduct .fall_letter .viewAll1 {
    position:absolute; right:38px; bottom:17px;
    display: flex; justify-content: center; align-items: center ;
    background-color: rgba(255, 255, 255, 0.8);
    width: 196px; height: 41px;
    transform:skewX(-15deg);
}
main .fallProduct .fall_letter .viewAll1 p {
    color:var(--color-primary) !important;
    transform:skewX(15deg); 
}
/* ---------------------------------------------------5행 판매상품(제니콜라보) */
main .jennie_wrap {
    background-image: url(../images/jennie.jpg);
    background-size:cover;
    max-width: var(--desk-max-width); margin:0 auto; height:1007px;
    position:relative;  
    display: flex; flex-flow: column nowrap;
    justify-content: center;
}
main .jennie_wrap .jennie_left {
    padding-left:184px
}
main .jennie_wrap .jennie_left p {
    font-family: 'Pragati Narrow';
    font-size: 2.813rem;
    font-weight: bold;
    letter-spacing: 19%;
    color:var(--bg-main);
}
main .jennie_wrap .jennie_left h3 {
    font-family: 'Pragati Narrow';
    font-size: 7.5rem; 
    font-weight: bold;
    color:var(--bg-main);
}
main .jennie_wrap .jennie_right {
    display:flex; flex-flow:row wrap; width:680px;
    position:absolute; right:240px; bottom:110px;
}
main .jennie_wrap .jennie_right li {
    width:330px; height:360px; margin-bottom: 20px;
    position:relative; overflow: hidden;
}
main .jennie_wrap .jennie_right li:nth-child(1),
main .jennie_wrap .jennie_right li:nth-child(3){
    margin-right:20px;
}
main .jennie_wrap .jennie_right > li .proPhoto {}
main .jennie_wrap .jennie_right > li .proPhoto img {height: 100%;}
main .jennie_wrap .viewAll1 {
    position:absolute; left:57px; bottom:146px;
    align-items: center; 
    background-color: rgba(255, 255, 255, 0.8);
}

/* ============= display:none */
main .jennie_wrap .jennie_right li .proText{
    padding:15px 18px; width:100%;
    background-color: rgba(0,0,0,0.4);
    gap:10px; display: flex; flex-flow: column nowrap; 
    align-items: end;
    position:absolute; bottom: 0; left: 0;
    opacity:0; transform:translateY(100px);
    transition: opacity 0.3s linear, transform 0.18s linear;
}
main .jennie_wrap .jennie_right li .proText .title {
    font-weight: 600;
    line-height: 1.3;
    display: block;
    color:var(--bg-main);
}
main .jennie_wrap .jennie_right li .proText .price {
    font-size: 0.875rem; line-height: 1.2;
    color:var(--bg-main);
}
main .jennie_wrap .jennie_right li:hover .proText{
    opacity:1; transform:translateY(0);
}
/* ---------------------------------------------------6행 광고배너 */
main .sub_bnr {
    max-width:var(--desk-max-width); margin: 0 auto; height:333px; 
    background-image: url(../images/sub_banner.jpg);
    background-size:cover;
    display: flex; flex-flow: column nowrap;
    justify-content: center; align-items: center;
}
main .sub_bnr p {
    font-size: 1.25rem;
    font-weight: 'regular';
    color:var(--bg-main);
}
main .sub_bnr h3 {
    line-height: 1.2;
    font-size: 4.375rem;
    font-weight: 700;
    color:var(--bg-main);
}
/* ---------------------------------------------------7행 룩북 */
main .lookBook {
    max-width:var(--desk-max-width); margin: 0 auto;
    display:flex; flex-flow: row nowrap;
    padding:100px 240px; gap :10px;
}
main .lookBook li {
    width:100%; height:756px;
    background-size: cover;
    display: flex; flex-flow: column nowrap;
    padding: 15px; justify-content: flex-end;
}
main .lookBook .lB1 {background-image: url(../images/lookBook_1.jpg);}
main .lookBook .lB2 {background-image: url(../images/lookBook_2.jpg);}
main .lookBook .lB3 {background-image: url(../images/lookBook_3.jpg);}
main .lookBook li .showAll {width:max-content;}
main .lookBook li .showAll p {}
/* ---------------------------------------------------*/
main .lookBook li .lBProduct {width:100%;}
main .lookBook li .lBProduct .closeBtn{}
main .lookBook li .lBProduct .shLetter{}
main .lookBook li .lBProduct .shImg{}
main .lookBook li .lBProduct .shImg img{}
main .lookBook li .product {
    display: flex; flex-flow: row nowrap;
    background-color: #fff;
    margin-top:15px;
}
main .lookBook li .product .lBProImg {width:102px;}
main .lookBook li .product .lBProImg img {width:100%;}
main .lookBook li .product .lBProContent {
    display:flex; flex-flow: column nowrap;
    justify-content:space-between;
    padding:18px 10px;
}
main .lookBook li .product .lBProContent .lBTitle {}
main .lookBook li .product .lBProContent .lBCategory {}
main .lookBook li .product .lBProContent .lBPrice {}
/* ---------------------------------------------------8행 브랜드 */
main .brand {
    max-width:var(--desk-max-width); margin: 0 auto; height: 920px; padding:80px 0;
    background-image: url(../images/brand_back.jpg);
    background-size: cover;
    position:relative;
    display: flex; flex-flow: column nowrap;
    justify-content: space-between; align-items: center;
}
main .brand > * {
    color:var(--bg-main);
}
main .brand h3 {
    font-family: 'Radio Canada Big';
    font-weight: 'semiBold';
    font-size: 2.125rem;
    
}
main .brand iframe {
    position:absolute; top:183px; right:374px;
}
main .brand .brand_btm {}
main .brand .brand_btm h4 {
    font-size:1.125rem ;
    font-weight: 'Medium';
    color:var(--bg-main);
    text-align: center;
}
main .brand .brand_btm p {
    color:#aaa;
    font-weight:'Medium';
    line-height: 1.6;
    text-align: center;
    margin-top:10px;
}
/* ---------------------------------------------------9행 footer */
main footer {
    background-color: var(--color-primary);
    max-width:var(--desk-max-width); padding:100px 120px; margin:0 auto;
}
main footer h3 {
    font-size: 12.5rem;
    line-height: 1.2;
    font-weight: 800;
    color:var(--bg-main);
    margin-bottom:10px;
}
main footer .footerBtm {
    width:100%;
    display:flex;
    flex-flow: row wrap;
}
main footer .footerBtm p {
    padding: 0 10px; 
    color:#bdbdbd;
    border-right:1px solid rgba(189,189,189, 0.2);
    width:max-content;
    margin-bottom:10px;
}
main footer .footerBtm a {
    padding: 0 10px; 
    color:#bdbdbd;
    border-right:1px solid rgba(189,189,189, 0.2);
    width:max-content;
    margin-bottom:10px;
}
main footer .footerBtm p:nth-child(6),
main footer .footerBtm a:nth-child(9){
    border-color: #000;
}